body {
    color: burlywood;
    /* comment note in css */
}
h1 {
    color: rgb(255, 238, 0);
}
p, li {
    color: coral;
}
section h1 {
    color: crimson;
}
/* style a class */
    .secondary-heading {
        color:purple ;
    } 

/* style an id */
    #main-section, li  {
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

ul:nth-child(1){
    color: blue;
}

/* LVHA */
a:link {
    color: red;
}

a:visited {
    color: grey;
}

a:hover {
    color: black;
}

a:active {
    color: white;
}
li:nth-child(odd) {
    background-color: wheat;
}