
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:  18px;
}

header, footer {
    background-color: darkgray;
} 

.site-title {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    color: rgb(13, 21, 146);
}

#my-image {
box-shadow: 0px 0px 2px 1px rgb(0, 0, 0);
    
}

li:nth-child(odd){
    color: blue;
}

.butt { 
    color: black ;
    background-color: #d3d3d3;
    text-decoration: none;
    height: 1.2em;
    padding: 3px 6px;
    margin: 10px 0;
    border-left: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
   
}

.butt:hover {
    background-color: rgb(104, 236, 16);
    text-decoration: underline;
}




