html{
    font-size: 16px;
}

body{
    font-family: verdana, arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    background-color: #f7eaea;
    background-image: url(../images/white_brick_wall.png);
    background-repeat: no-repeat;
    

}

header {
    color: seashell;
    background-color: sandybrown;
    background-image: url(../images/bread.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    
    
    
    
    
}

p:nth-child(3) {
    font-weight: 800;
}

/* {  , and } { space is anything inside }  */

.uppercase {
    text-transform: uppercase;
}

.italics {
    font-style: italic;
}

h1{
  font-weight: normal;
  
}
