body{
    font-family: verdana, arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f7eaea;
    background-image: url(../images/white_brick_wall.png);
    background-repeat: no-repeat;
    background-position: top right ;
    background-size: contain;
}

p:nth-child(3) {
    font-weight: 800;
}

/* {  , and } { space is anything inside }  */

.uppercase {
    text-transform: uppercase;
}

.italics {
    font-style: italic;
}
